{% load i18n admin_urls %}

<div {% if not is_popup %}id="submit-row"{% endif %} class="relative z-20 {% if not is_popup %} mt-20 lg:mt-8{% endif %}">
    <div class="{% if not is_popup %}bottom-0 fixed left-0 right-0{% endif %}" {% if not is_popup %}x-bind:class="{'xl:left-0': !sidebarDesktopOpen, 'xl:left-72': sidebarDesktopOpen}"{% endif %}>
        <div class="bg-white dark:bg-gray-900 {% if not is_popup %}border-t px-4 py-4 relative scrollable-top lg:px-12 dark:border-gray-800{% endif %}">
            <div class="container flex flex-col gap-3 items-center justify-center mx-auto lg:flex-row-reverse">
                {% block submit-row %}
                    {% if show_save %}
                        <button type="submit" name="_save" class="bg-primary-600 block border border-transparent font-medium px-6 py-3 rounded-md text-white w-full lg:w-auto text-center lg:mx-3">
                            {% translate 'Guardar' %}
                        </button>
                    {% endif %}
            
                    {% if show_delete_link and original %}
                        {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
                        
                        <p class="deletelink-box w-full lg:w-auto">
                            <a href="{% add_preserved_filters delete_url %}" class="bg-red-600 block border border-transparent font-medium px-6 py-3 rounded-md text-white w-full lg:w-auto text-center lg:mx-3">
                                {% translate "Eliminar" %}
                            </a>
                        </p>
                    {% endif %}
                {% endblock %}
            </div>
            
        </div>
    </div>
</div>
